{% extends 'base.html' %}

{% block title %}
	Hector Bennett | Home
{% endblock %}

{% block nav-buttons %}
	<li class="active"><a href="/">Home</a></li>
	<li><a href="/projects">Projects</a></li>
{% endblock %}
						
{% block jumbotron %}
	<h1>Hector Bennett</h1>
{% endblock %}

{% block content %}
	<div class="container">
		<h2>About Me</h2>
		<p>Hello. My name is Hector Bennett.</p>
		<p>I graduated with a BSc in mathematics from KCL in 2016. I enjoy
		solving computational problems, designing web applications
		and creating games. I have organised and run a number of music 
		and other events as both promoter and dj. You can hear some of my 
		music <a target="_blank" href="https://soundcloud.com/hectorlawrence">here</a>. I am also a keen juggler.</p>
		<p>I'm reasonably good with Unix, HTML, CSS, Python, Django, Mathematica, 
		LaTeX, GDScript and a variety of creative software.</p>
		<p>My full cv is available to view <a target="_blank" href="/static/files/hector-bennett-cv-without-contact-details-02-05-2017.pdf">here</a>.</p>	
	</div>	
{% endblock %}
